h1{
    font-size: 5rem;
    font-weight: 450;
    margin: 0;
}
body{
    color: rgb(57, 35, 182);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#container{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid violet;
    margin: 0 auto;
}
#container h2{
    font-size: 2rem;
}
span{
    font-weight: 700;
    font-size: 5rem;
}
#cabecera{
    color: darkslategray;
    font-family: 'Segoe UI';
    background-color: blanchedalmond;
    padding: 2rem;
    border: 1px solid darkgoldenrod;
    border-radius: 2rem;
    box-shadow: -8px 8px 35px -6px;
    text-align: center; 
    position: relative;
}
img{
    height:4rem;
    width: 4rem;
    position: absolute;
    left: 14rem;
    top: 1.8rem;
}