body{
    color: #333;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#container{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid violet;
    margin: 0 auto;
}
#container h1{
    font-size: 2rem;
}
span{
    font-weight: 700;
}
#cabecera{
    color: darkslategray;
    font-size: 5rem;
    font-family: 'Segoe UI';
    background-color: blanchedalmond;
    display: inline-block;
    padding: 2rem;
    border: 1px solid darkgoldenrod;
    border-radius: 2rem;
    box-shadow: -8px 8px 35px -6px;
}